﻿
@{
    ViewBag.Title = "Test1";
}

<h2>Test1</h2>
<from action="/" methon="post">
    姓名： <input type="text" name="name" value="" /> <br /> <br />
    帳號： <input type="text" name="name" value="" /> <br /> <br />
    密碼： <input type="password" name="name" value="" /> <br /> <br />
    性別： <input type="radio" name="name" value="" />男性 <input type="radio" name="name" value="" />女性<br /> <br />
    興趣： <input type="checkbox" name="name" value="" />游泳 <input type="checkbox" name="name" value="" />閱讀 <input type="checkbox" name="name" value="" />看電影<br /> <br />
    自我介紹： <textarea></textarea>
</from>